.search-btn {
  outline: none;
  background-color: #f91944;
  display: inline-block;
  width: 100px;
  padding: 8px;
  border-radius: 50px;
  color: white;
  border: none;
  font-weight: 300;
  position: absolute;
  margin-left: 460px;
}
.searchBar {
  position: relative;
  width: 90%;
  padding: 8px;
}
