.footer-img {
  width: 150px;
}
footer {
  background-color: #191919;
  padding-bottom: 60px;
}
.footer-link {
  color: white;
}
.footer-link:hover {
  color: #878787;
}
.copy-right {
  color: white;
}
.nav li .nav-link {
  padding-left: 0;
}
